body{
    background-color: rgb(255, 255, 255);
}

.calculetorbox{
    height: 550px;
    width: 350px;
    border: 5px outset;
    border-color: rgb(133, 133, 133);
    border-radius: 8px;
    background-color: rgb(221, 221, 221);
    padding: 20px;
    box-shadow: 5px 8px 10px 3px rgba(0, 0, 0, 0.61) ;
}
div p.p1{
    text-align: right;
    margin-top: 0px;
    font-size: 14pt;
    font-family: fantasy;
}
input.display{
    height: 60px;
    width: 340px;
    border: 5px inset;
    border-color: rgb(151, 151, 151);
    font-size: 34pt;
    background-color: rgb(140, 255, 236);
    text-align: right;
    font-family: monospace;
    /* font-family: 'Orbitron',sans-serif; */
    /* font-family: fantasy; */
    /* font-family: cursive; */
    
 
}
input.acbtn{
    height: 70px;
    width: 70px;
    margin: 5px;
    font-size: 22pt;
    border: 5px groove;
    border-radius: 8px;
    background-color: rgb(255, 114, 114);
    outline: none;
}

input.btn{
    height: 70px;
    width: 70px;
    margin: 5px;
    font-size: 22pt;
    border: 5px groove;
    border-radius: 8px;
    background-color: rgb(177, 177, 177);
    outline: none;
}
input.btn:hover{
    background-color: rgb(131, 131, 131);
}
input.acbtn:hover{
    background-color: rgb(212, 106, 106);
}